
.PostRow {
    padding: 8px;
    padding-bottom: 0px;
}

.PostContainer {
    position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 2em auto;
    width: 20rem;
}
@media screen and (min-width: 480px) {
    .PostContainer {
        width: 28rem;
        background-color: red !important;
    }
}
@media screen and (min-width: 767px) {
    .PostContainer {
        width: 21rem;
        background-color: yellow!important;;
    }
}

@media screen and (min-width: 959px) {
    .PostContainer {
        width: 50rem;
        background-color: blue!important;;
    }
}
.post-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px; 
  }

.post-footer{
    margin: 0 auto;
    padding-bottom: 0.125rem;
    width: 80%;
}


.post-footer span {
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
  }

.PostContainer .cmdIcon {
    display: none;
}

.PostContainer:hover .cmdIcon {
    display: block;
}

.PostLayout {
    display: grid;
    grid-template-columns: 1fr;
    padding: 10px;
    gap: 8px;
    align-items: center;
}

.Post {
    display: grid;
    grid-template-columns: 30px auto;
}

.PostTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
}

.PostCategory {
    color: dodgerblue !important;
    font-weight: bold;
}

.PostCommandPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    border:solid 2px black;
}

.PostdeleteForm {
    margin: 20px;
    text-align: center;
}

.tag{
    border-radius: 2em;
    background-color: dodgerblue;
    color: white;
    padding:2px
}
.post-cover {
    max-width: 60%;
    max-height: 20em;
    border-radius: 5px 5px 0 0;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
    min-height: fit-content;
}

.post-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.post-body {
    margin: 0 auto;
    width: 80%;
}
.post-title  {
    color: #333;
    font-weight: 100;
}

.PostTitle{
    font-size: 2em;
}

.post-summary p {
    color: lighten(#333, 10%);
}

.noPostsMessage {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}
