.PostCommandPanel {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    border:solid 2px black;
}

.PostdeleteForm {
    margin: 20px;
    text-align: center;
}

.tag{
    border-radius: 2em;
    background-color: dodgerblue;
    color: white;
    padding:2px
}

.noPostsMessage {
    text-align: center;
    font-size: 18px;
    color: #888;
    margin-top: 20px;
}
/* CSS POUR UN POST */
.PostRow {
    padding: 8px;
    padding-bottom: 0px;
}

.PostContainer {
    /*position: relative;
    background: #fff;
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 2em auto;
    width: 30rem;
    min-width: fit-content;*/
    display: grid;
    /*grid-template-columns: 4fr 1fr;*/
    align-items: top;
    background-color: #eee;
    border-radius: 6px;
}
.Post{
    /*display: grid;
    grid-template-columns: 30px auto;*/
}

.header_post{
    position: relative; 
    width: 100%; 
    overflow: hidden; 
    border-radius: 5px 5px 0 0; 
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
    height: 15rem;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
    
}
.PostLayout {
  /*  display: grid;
    /*grid-template-columns: 1fr;*/
    /*padding: 10px;
    gap: 8px;
    align-items: center;*/
}
.post-cover {
    /*max-height: 20em;
    border-radius: 5px 5px 0 0;
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
    min-height: fit-content;
    position: relative;*/
    position: relative; 
    width: 100%; 
    overflow: hidden; 
    border-radius: 5px 5px 0 0; 
    box-shadow: inset hsla(0, 0, 0, .2) 0 64px 64px 16px;
}
.header_post img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    background-color: white;
    box-sizing: border-box;
}
.post-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px; 
}
.PostContainer .cmdIcon {
    display: none;
}

.PostContainer:hover .cmdIcon {
    display: block;
}
.post-body {
    margin: 0 auto;
    width: 80%;
}
.post-title  {
    color: #333;
    font-weight: 100;
}
.PostTitle {
    font-size: 1.1rem;
    font-weight: bold;
    color: black;
    font-size: 2em;
}
.PostCategory {
    color: dodgerblue !important;
    font-weight: bold;
}
.post-summary {
    position: relative;
  }
.post-summary p {
    color: lighten(#333, 10%);
}
.post-text {
    max-height: 60px; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
.read-more-btn {
    display: inline-block;
    margin-top: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
  }
.post-footer{
    margin: 0 auto;
    padding-bottom: 0.125rem;
    width: 80%;
}
.post-footer span {
    color: lighten(#333, 40%);
    font-size: .75rem;
    height: 1.5rem;
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    white-space: nowrap;
  }
@media screen and (min-width: 360px) {
    .PostContainer {

        background-color: rgb(255, 149, 0) !important;
    }
}
@media screen and (min-width: 767px) {
    .PostContainer {

        background-color: yellow!important;;
    }
}

@media screen and (min-width: 959px) {
    .PostContainer {

        background-color: blue!important;;
    }
}